@import '@/assets/sass/vw.scss';
.Nav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
    padding: vw(9);
    text-align: left;
    overflow: hidden;
    display: flex;
}
.Nav i{
    width: vw(34);
    height: vw(34);
    background-image: url("../Nav/images/dt-head.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: vw(11);
}
.copy{
    box-sizing: border-box;
    flex: 1;
    margin-left: vw(8);
    min-width: vw(10);
    font-size: vw(12);
    color: rgb(68, 68, 68);
    line-height: vw(16);
    width: vw(85);
}
.copy div:nth-of-type(1){
    font-weight: bold;
    white-space: pre;
}
.open{
    box-sizing: border-box;
    flex: 1;
    margin-left: vw(8);
    margin-top: vw(5);
    min-width: vw(10);
    font-size: vw(13);
    background-color: rgb(242, 85, 85);
    width: vw(62);
    height: vw(23);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: vw(6);
    flex: 0 0 auto !important;
}