@import '@/assets/sass/vw.scss';
.css-o8bgc8{
    padding: vw(0) vw(0) vw(5);
    background-color: #f5f5f5;
}
    
.list-view-section-body{
    width: vw(375);
}
.boxs{
    display: flex;
    flex-direction: row;
    width: vw(169.5);
    .smallbox{
        width: vw(169);
        height: vw(267);
        left: vw(181);
        top:vw(0);
        margin: vw(15) 0 0;
        background-color: white;
        border-radius: 0 0 vw(5) vw(5);
        >div{
            width: vw(169.5);
            img{
                height: vw(169.5);
                width: vw(169.5);
                display: block;
                object-fit: cover;
                object-position: center center;
                border-radius: vw(5) vw(5) 0 0;
            }
            .msg{
                padding: vw(8) vw(8) vw(5);
                border-bottom: vw(1) solid rgb(224, 224, 224);
                h5{
                    font-size: vw(12);
                    color: rgb(51, 51, 51);
                    margin: vw(0);
                    padding: vw(0);
                }
                .hot{
                    color: rgb(153, 153, 153);
                    margin-top: vw(5);
                    font-size: vw(12);
                }
            }
        }
        .avatarbox{
            line-height: vw(30);
            padding: vw(8);
            align-items: center;
            text-align: left;
            overflow: hidden;
            display: flex;
            img{
                background-size: 100%;
                width: vw(30);
                height: vw(30);
                border-radius: 100%;
                font-size: vw(12);
            }
           .person{
            text-align: center;
            margin-left: vw(8);
            display: flex;
            overflow: hidden;
            align-items: flex-start;
            flex-direction: column;
            a{
                line-height: vw(20);
                margin: 0;
                padding: 0;
                background: transparent;
                text-decoration: none;
                outline: none;
                color: rgb(52, 152, 219);
                font-size: vw(12);
            }
            a:nth-of-type(2){
                color: rgb(51, 51, 51);
            }
        } 
        }
        
    }
}
.boxs:nth-of-type(2n-1){
    float: left;
    padding-left: vw(10);
}
.boxs:nth-of-type(2n){
    float: right;
    padding-right: vw(10);
}
